<div class="container">
  <div class="main">
    <header>
      帖子列表
      <a class="cm-back to_back" href="/wechat"></a>
      <a class="to_right" href="/wechat/events/new">发布</a>
    </header>
    <div class="content">
        <%= render partial:"event", collection: @events, as: :event %>
    </div>
  </div>
</div>
